In [17]:
import pandas as pd
import numpy as np

In [18]:
ilk=["simpson","simpson","simpson","south park","south park","south park"]

In [19]:
ic=["Homer","Bart","Marge","Cartmen","Kenny","kayle"]

In [20]:
birlesmis= list(zip(ilk,ic))

In [24]:
birlesmis2=pd.MultiIndex.from_tuples(birlesmis)

In [26]:
daha_ic=[["40","A"],["10","B"],["30","C"],["9","D"],["10","E"],["11","F"]]
d_ic=np.array(daha_ic)
kolonlar=["yaş","meslek"]
a=pd.DataFrame(daha_ic,columns=kolonlar,index=birlesmis2)
a

                   yaş meslek
simpson    Homer    40      A
           Bart     10      B
           Marge    30      C
south park Cartmen   9      D
           Kenny    10      E
           kayle    11      F

In [28]:
a.loc["simpson"]

      yaş meslek
Homer  40      A
Bart   10      B
Marge  30      C

In [31]:
a.loc["south park"].loc["Kenny"]

yaş       10
meslek     E
Name: Kenny, dtype: object